<!-- <div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul>
            <a 
                class="list-group-item" 
                style="cursor: pointer" 
                *ngFor="let ingredient of (this.ingredients | async).ingredients; let i = index"
                (click)="this.onEditItem(i)">{{ ingredient.name }} ({{ ingredient.amount }}g)
            </a>
        </ul>
    </div>
</div> -->

<div class="row">
    <div class="col-xs-11 col-sm-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group col-12">

            <div 
                class="list-group-item"
                *ngFor="let ingredient of this.ingredients$ | async; let i = index">

                <div 
                    class="row"
                    style="cursor: pointer;"
                    (click)="this.onEditItem(i)">

                    <div class="col-xs-5 col-sm-6">
                        <p>{{ ingredient.name }} {{ ingredient.amount }}g</p>
                    </div>

                    <div class="col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-4">
                        <button 
                            class="btn btn-primary"
                            (click)="this.onRemoveItem(ingredient.name)">Remove</button>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
